.wrapper {
  padding: 35px;
  position: relative;
  overflow-x: hidden;
}

.wrapper .icon {
  position: absolute;
  top: 0;
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
}
.icon:first-child {
  left: 0;
  display: none;
 
}
.icon:last-child {
  right: 0;
  justify-content: flex-end;
  background: linear-gradient(-90deg, #fff 70%, transparent);
}
.icon i {
  width: 55px;
  height: 55px;
  cursor: pointer;
  font-size: 1.2rem;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
}
.icon:first-child i {
  margin-left: 15px;
} 
.icon:last-child i {
  margin-right: 15px;
} 
.wrapper .tabs-box {
  display: flex;
  gap: 12px;
  list-style: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.tabs-box.dragging {
  scroll-behavior: auto;
  cursor: grab;
}
.tabs-box .tab {
  cursor: pointer;
  font-size: 1.08rem;
  white-space: nowrap;
  padding: 3px 20px;
  border-radius: 30px;
  border: none;
}
.tabs-box .tab:hover{
  background: #F5D547;
}
.tabs-box.dragging .tab {
  user-select: none;
  pointer-events: none;
}

.progress {
  list-style: none;
  margin: 0;
  padding: 0;
  display: table;
  table-layout: fixed;
  width: 100%;
  color: #849397;
}
.progress > li {
  position: relative;
  display: table-cell;
  text-align: center;
  font-size: 0.8em;
}
.progress > li:before {
  content: '';
  display: block;
  margin: 0 auto;
  background: #dfe3e4;
  width: 3em;
  height: 3em;
  text-align: center;
  margin-bottom: 0.25em;
  line-height: 3em;
  border-radius: 100%;
  position: relative;
  z-index: 1000;
}
.progress > li:after {
  content: "";
  position: absolute;
  display: block;
  background: #dfe3e4;
  width: 100%;
  height: 0.5em;
  top: 1.25em;
  left: 50%;
  margin-left: 1.5em\9;
  z-index: -1;
}
.progress > li:last-child:after {
  display: none;
}
.progress > li.is-complete {
  color: #F5D547;
}
.progress > li.is-complete:before, .progress > li.is-complete:after {
  color: #fff;
  background: #F5D547;
}
.progress > li.is-active {
  color: #F5D547;
}
.progress > li.is-active:before {
  color: #fff;
  background: #F5D547;
}

/**
   * Needed for IE8
   */
.progress__last:after {
  display: none !important;
}


/**
 * Some Generic Stylings
 */
*,
*:after,
*:before {
  box-sizing: border-box;
}